header {
    background-color: black;
    color: white;
}

.center {
    text-align: center;
}

.crazy-cage {
    width: 150px;
    height: 200px;
    padding: 1%;
    background-color: #466C88;
    border-radius: 50%;
}

h1, h2 {
    font-family: 'Bungee', serif;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header h1 {
    margin: 0;
    font-size: 50px;
}

header p {
    margin: 0;
    font-size: 15px;
}

aside {
    background-color: #A775F3;
    color: #F6CE30;
    width: 25%;
    float: left;
}

aside ul li a {
    font-size: 28px;
    color: #F6CE30;
    cursor: pointer;
    font-family: 'Bungee', serif;
    text-decoration: none;
}

aside ul li a:hover {
    color: #82bef5;
}
main {
    background-color: #F6CE30;
    width: 67%;
    float: left;
}

main h2 {
    color: #A775F3;
}

footer {
    background-color: #82bef5;
    color: #fff;
}

#social_media img{
    width: 35px;
    padding: 1.5%;
}

.container {
    overflow: hidden;
    background-color: #A775F3;
}

@media  all and (max-width:850px) {
  main, aside {
    width: 100%;
  }
  section {
    padding-right: 20px;
    padding-left: 20px
  }
}